.about {
    padding: 10% 0;
}

.about-container {
    display: flex;

    @include tablet {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .about-image {
        min-width: 300px;
        width: calc(40% - 15px);
        margin-right: 15px;

        @include tablet {
            min-width: auto;
            width: 100%;
            
            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 50%;
                margin: 0 auto;
            }
        }
    }

    .about-text {
        width: 60%;
        display: flex;
        flex-direction: column;

        h3 {
            margin-bottom: 5%;
        }

        &:last-child {
            padding-top: 5%;
        }

        p {
            padding-bottom: 3%;
        }


        @include tablet {
            width: 100%;
            margin-top: 3%;
        }
    }

    .button {
    padding: 5px 20px;
    width: fit-content;
    align-self: center;
    border: 2px solid $gold;
    text-transform: uppercase;
    position: relative;
    top: 0;
    right: 0;
    box-shadow: 3px 3px $gold;
    transition: all 0.4s ease;
    background-color: $offWhite;
    font-size: 1.5rem;

        &:hover {
            background-color: $gold;
            color: white;
        }

        &:active,
        &:focus {
            top: 4px;
            right: -4px;
            box-shadow: 2px 2px $gold;
        }

    }
}