.about {
    padding: 10% 0;
}

.about-container {
    display: flex;

    .about-image {
        min-width: 300px;
        width: calc(40% - 15px);
        margin-right: 15px;
    }

    .about-text {
        width: 60%;
        display: flex;
        flex-direction: column;

        p {
            padding: 5%;

            &:nth-child(3) {
                padding: 0 5%;
            }
        }
    }

    .button {
    padding: 5px 20px;
    width: fit-content;
    align-self: center;
    border: 2px solid $gold;
    text-transform: uppercase;
    position: relative;
    top: 0;
    right: 0;
    box-shadow: 3px 3px $gold;
    transition: all 0.4s ease;
    background-color: $offWhite;
    font-size: 1.5rem;

        &:hover {
            background-color: $gold;
            color: white;
        }

        &:active,
        &:focus {
            top: 4px;
            right: -4px;
            box-shadow: 2px 2px $gold;
        }

    }
}