.contact {
    background-color: $lightGrey;
    padding: 5% 0;

    @include mobile {
        padding: 5%;
    }
}

.contact-container {
    display: flex;

    @include small-tablet {
        flex-direction: column;
    }
}

.contact-message {
    border-right: 2px solid $offWhite;
    padding-right: 5%;
    width: 55%;

    @include small-tablet {
        border-right: none;
        padding-right: 0;
        width: 100%;
    }

    h3 {
        margin: 0 auto 4% auto;

        @include portrait-tablet {
            @include fluid-type-font(2.5rem, 3rem);
        }
    }

    a {
        margin: 0 auto;
    }
}

.social-icons {
    display: flex;
    justify-content: space-around;
    padding: 5% 10%;

    i {
        @include fluid-type-font(4.5rem, 5.5rem);
        padding: 3% 5%;
        color: $textBlack;
        transition: all 0.3s ease;

        &:hover {
            color: $gold;
            transform: scale(1.2)
        }
    }

}

.form-container {
    padding-left: 5%;
    width: 45%;

    @include small-tablet {
        padding: 0;
        width: 100%;
    }
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    outline: none;
    padding: 2%;
    width: 100%;
    margin-bottom: 2%;
    border: 1px solid $lightGrey;
    color: $textBlack;
    background-color: $offWhite;
    @include fluid-type-font(1.4rem, 1.5rem);
    letter-spacing: 0.8px;

    &:active,
    &:focus {
        border: 1.5px solid $gold;
    }

    &::placeholder {
        color: $textBlack;
        text-transform: uppercase;
        font-size: 1.4rem;
    }

    &:required,
    &:required:focus,
    &:required:hover {
        outline: none;
        box-shadow: none;
    }
}

textarea {
    resize: none;
}

button[type=submit] {
    border: none;
    background-color: $offWhite;
    color: $gold;
    width: 60%;
    padding: 2% 0 1% 0;
    align-self: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    border: 2px solid $gold;
    position: relative;
    top: 0;
    right: 0;
    box-shadow: 3px 3px $gold;
    transition: background-color 0.4s ease;
    transition: color 0.4s ease;

    &:active,
    &:focus {
        top: 4px;
        right: -4px;
        box-shadow: 2px 2px $gold;
    }

    &:hover {
        color: $offWhite;
        background-color: $gold;
    }
}
