// stripping styles

body,
li,
ul,
h1, 
h2, 
h3,
p,
a,
button {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

li,
a {
    text-decoration: none;
}

// general styles

html {
    font-size: 62.5%;
}

body {
    font-family: $bodyFont;
    @include fluid-type-font(1.6rem, 2rem);
    color: $textBlack;
}

.wrapper {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}

// button {
//     background-color: transparent;
//     border: none;

//     &:focus {
//         outline: 1px solid $gold;
//     }
// }

a {
    color: $gold;

    &:hover {
        color: white;
    }
}  

a.button {
    padding: 5px 20px;
    width: fit-content;
    align-self: center;
    border: 2px solid $gold;
    text-transform: uppercase;

    &:hover,
    &:focus {
        background-color: $gold;
    }
}

h1, 
h2,
h3 {
    font-family: $titleFont;
    color: $gold;
    text-transform: uppercase;
    font-weight: 400;
}

h1 {
    @include fluid-type-font(4rem, 6rem);
}

h2 {
    @include fluid-type-font(3rem, 4.5rem);
}

h3 {
    @include fluid-type-font(3rem, 4.5rem);
    align-self: center;
    width: fit-content;
    position: relative;
    font-weight: 800;
    letter-spacing: 4px;
    color: $textBlack;

    &::after {
        content: '';
        border-bottom: $gold 3px solid;
        width: 80px;
        height: 6px;
        position: absolute;
        transform: translateX(-50%);
        bottom: -5px;
        left: 50%;

    }
}
