// stripping styles

body,
li,
ul,
h1, 
h2, 
h3,
p,
a,
button {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

li,
a {
    text-decoration: none;
}

// general styles

html {
    font-size: 62.5%;
}

body {
    font-family: $bodyFont;
    font-size: 1.6rem;
    color: $textBlack;
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}

button {
    background-color: transparent;
    border: none;

    &:focus {
        outline: 1px solid $gold;
    }
}

a {
    color: white;
        &:hover {
            color: $gold;
        }
}   

h1, 
h2,
h3 {
    font-family: $titleFont;
    color: $gold;
    text-transform: uppercase;
    font-weight: 400;
}

h1 {
    @include fluid-type-font(4rem, 6rem);
}

h2 {
    @include fluid-type-font(3rem, 4.5rem);
}

h3 {
    @include fluid-type-font(3rem, 4.5rem);
}
