header {
    height: 100vh;
    background-color: $offBlack;

    .menu-btn {
        z-index: 10;
        position: fixed;
        top: 5%;
        right: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        overflow-x: hidden;

        @include mobile {
            top: 1%;
        }

        &.open .menu-toggle {
            transform: translateX(-50px);
            background: transparent;
        }

        &.open .menu-toggle::before {
            transform: rotate(45deg) translate(35px, -35px);
        }

        &.open .menu-toggle::after {
            transform: rotate(-45deg) translate(35px, 35px);
        }

        &:focus {
            outline: 1px solid $gold;
        }
    }
    .menu-toggle {
        width: 50px;
        height: 6px;
        background: $gold;
        transition: all 0.5s ease-in-out;
    }

    .menu-toggle::before,
    .menu-toggle::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background: $gold;
        transition: all 0.5s ease-in-out;
    }

    @include mobile {
        .menu-toggle,
        .menu-toggle::before,
        .menu-toggle::after {
            width: 40px;
        }
    }

    .menu-toggle::before {
        transform: translateY(-16px);
    }

    .menu-toggle::after {
        transform: translateY(16px);
    }

    .nav-container {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        right: 0;
        background-color: $offBlack;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 5;
        overflow: hidden;
    
        &.active {
            transform: translateX(0);
        }

        .overlay {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        ul {
            max-width: 600px;
            width: 60%;
            height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        li {
            font-family: $titleFont;
            @include fluid-type-font(2.8rem, 3rem);
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(1)::after,
            &:nth-child(2)::after, 
            &:nth-child(3)::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 50px;
                height: 3px;
                border-bottom: 2px solid $gold;
            }

            a {
                color: white;
                border: none;
                
                &:hover {
                    color: $gold;
                }
            }   
        }
    }

    .name-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 92%;

        h1,
        h2 {
            color: white;
        }

        h1 {
            border-bottom: $gold 6px solid;
            margin-bottom: 20px;
        }

        .text-type > .text {
            border-right: 0.1rem solid $lightGrey;
            animation: blinkTextCursor 1100ms steps(40) infinite normal;
        }

        @keyframes blinkTextCursor {
            from {
                border-right-color: $gold;
            }
            to {
                border-right-color: transparent;
            }
        }

    }

    .down-arrow {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            font-size: 3rem;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 1.4;
            margin: 0 auto;
            color: white;
            border: none;

            &:hover,
            &:focus {
                outline: 1px solid $gold;
                color: $gold;
            }
        }   
    }
}