.projects {
    display: flex;
    flex-direction: column;
    padding: 5% 0;

    h3 {
        align-self: center;
        margin-bottom: 2%;
    }
}

.project-container {
    display: flex;
    
    .project-image {
        width: 40%;
        outline: 1px solid pink;
    }

    .project-text {
        width: 60%;
        padding: 2%;
        outline: 1px solid green;

    }

    h4 {
        @include highlights;
    }

    p {
        padding-bottom: 5%;
    
        &:nth-of-type(1),
        &:nth-of-type(3){
            font-weight: 800;
        }
    }

    span {
        color: $gold;
    }
}
