.projects {
    display: flex;
    flex-direction: column;
    padding: 5% 0;

    h3 {
        align-self: center;
        margin-bottom: 2%;
    }
}

.project-container {
    display: flex;
    
    .project-image {
        width: 40%;
        background-color: $softGold;
    }

    .project-text {
        width: 60%;
        padding: 2%;
    }

    p {
        margin-bottom: 5%;
    
        &:nth-of-type(1),
        &:nth-of-type(3){
            font-weight: 800;
        }

        a:hover {
            color: $gold;
            border-bottom: 2px solid $softGold;
        }
    }

    span {
        color: $gold;
        font-weight: 800;
    }
}
