.projects {
    display: flex;
    flex-direction: column;
    padding: 5% 0;

    h3 {
        align-self: center;
    }
}

.project-container {
    display: flex;
    padding: 8% 0;
    border-bottom: 1px solid $lightGrey;

    @include small-tablet {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    &:last-child {
        border-bottom: none;
    }
    
    .project-image {
        position: relative;
        width: 40%;
        height: fit-content;

        @include small-tablet {
            width: 80%;
        }
    }

    .project-text {
        width: 60%;
        padding: 0 2% 0 2%;

        @include small-tablet {
            width: 80%;
            padding: 0;
            margin-top: 2%;
        }
    }

    h4 {
        margin-bottom: 1.8%;
    }

    p {
        margin-bottom: 5%;
    
        &:nth-of-type(1),
        &:nth-of-type(3){
            font-weight: 800;
        }

        &.stacks {
            margin-bottom: 0;
        }

        a {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1.4rem;
        }

        a:hover {
            color: $gold;
            border-bottom: 2px solid $gold;
        }
    }

    span {
        color: $gold;
        font-weight: 800;
    }
}

.project-container:nth-child(2n + 1) {            
    .project-text {
        display: flex;
        flex-direction: column;
        
        @include small-tablet {
            order: 1;
        }
    }

    h4 {
        align-self: flex-end;

        @include small-tablet {
            align-self: flex-start;
        }
    }

    p {
        text-align: right;
        
        @include small-tablet {
            text-align: left;
        }
    }
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s ease;
    overflow: hidden;
    padding: 5%;

    &:hover {
        opacity: 1;
    }

    & > * {
        transform: translateY(100%);
        transition: transform 0.25s ease;
    }

    &:hover > * {
        transform: translateY(0)
    }
    
    .image-title {
        font-family: $titleFont;
        color: $gold;
        font-size: 2rem;
        text-transform: uppercase;
    }

    p {
        color: white;
        font-weight: 400;
        text-align: center;
    }

    i {
        color: $gold;
    }

}
