.skills {
    background-color: $lightGrey;
    padding: 5% 0;
}

.skills-container {
    background-color: $offWhite;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 30px 0 rgba(0, 0, 0, 0.19);
    padding: 4% 8%;
    display: flex;
    flex-direction: column;

    h3 {
        align-self: center;
        margin-bottom: 20px;
    }
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    li {
        text-align: center;
        width: 130px;
        height: 100px;
        margin: 1.5%;
        
        &:hover {
            color: $gold;
        }
        
        i {
            @include fluid-type-font(5rem, 6rem);
            padding: 3% 0;
        }

        p {
            font-weight: 800;
            @include fluid-type-font(1.4rem, 1.6rem);
            text-transform: uppercase;
        }
    }

    li:nth-of-type(11),
    li:nth-of-type(12),
    li:nth-of-type(13),
    li:nth-of-type(14) {
        i {
            @include fluid-type-font(4.2rem, 5.2rem);
        }
    }
    
    li:nth-of-type(15) {

        p {
            line-height: 1.2;
        }

        i {
            @include fluid-type-font(3rem, 3.5rem);
        }  
    }
}


