$offWhite: #fdfdff;
$lightGrey: #e0e0e0;
$gold: #df7a07;
$softGold: rgba(rgb(223, 122, 7), 0.2);
$offBlack: #111111;
$textBlack: #393d3f; 

$titleFont: 'Montserrat', sans-serif;
$bodyFont: 'Karla', sans-serif;

