html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
li,
ul,
h1,
h2,
h3,
h4,
p,
a,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

li,
a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  color: #393d3f;
  background-color: #fdfdff;
}

body {
  font-size: 1.6rem;
}

@media screen and (min-width: 30rem) {
  body {
    font-size: calc(1.6rem + 0.4 * ((100vw - 30rem) / 130));
  }
}

@media screen and (min-width: 160rem) {
  body {
    font-size: 2rem;
  }
}

.wrapper {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: #df7a07;
}

a:hover {
  color: white;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #df7a07;
  text-transform: uppercase;
}

h1 {
  font-weight: 600;
}

h1 {
  font-size: 4rem;
}

@media screen and (min-width: 30rem) {
  h1 {
    font-size: calc(4rem + 2 * ((100vw - 30rem) / 130));
  }
}

@media screen and (min-width: 160rem) {
  h1 {
    font-size: 6rem;
  }
}

h2 {
  font-weight: 500;
}

h2 {
  font-size: 3rem;
}

@media screen and (min-width: 30rem) {
  h2 {
    font-size: calc(3rem + 1.5 * ((100vw - 30rem) / 130));
  }
}

@media screen and (min-width: 160rem) {
  h2 {
    font-size: 4.5rem;
  }
}

h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-weight: 800;
  letter-spacing: 4px;
  color: #393d3f;
}

h3 {
  font-size: 3rem;
}

@media screen and (min-width: 30rem) {
  h3 {
    font-size: calc(3rem + 1.5 * ((100vw - 30rem) / 130));
  }
}

@media screen and (min-width: 160rem) {
  h3 {
    font-size: 4.5rem;
  }
}

h3::after {
  content: '';
  border-bottom: #df7a07 3px solid;
  width: 80px;
  height: 6px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -5px;
  left: 50%;
}

h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  border-bottom: 3px solid #df7a07;
  margin-bottom: 1.8%;
}

h4 {
  font-size: 2rem;
}

@media screen and (min-width: 30rem) {
  h4 {
    font-size: calc(2rem + 0.5 * ((100vw - 30rem) / 130));
  }
}

@media screen and (min-width: 160rem) {
  h4 {
    font-size: 2.5rem;
  }
}

p {
  line-height: 1.5;
}

header {
  height: 100vh;
  background-color: #111111;
}

header .menu-btn {
  z-index: 10;
  position: fixed;
  top: 5%;
  right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

header .menu-btn.open .menu-toggle {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

header .menu-btn.open .menu-toggle::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

header .menu-btn.open .menu-toggle::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

header .menu-btn:focus {
  outline: 1px solid #df7a07;
}

header .menu-toggle {
  width: 50px;
  height: 6px;
  background: #df7a07;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu-toggle::before,
header .menu-toggle::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #df7a07;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu-toggle::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

header .menu-toggle::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

header .nav-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #111111;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  z-index: 5;
  overflow: hidden;
}

header .nav-container.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .nav-container .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-container ul {
  max-width: 600px;
  width: 60%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-container li {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-container li {
  font-size: 2.8rem;
}

@media screen and (min-width: 30rem) {
  header .nav-container li {
    font-size: calc(2.8rem + 0.2 * ((100vw - 30rem) / 130));
  }
}

@media screen and (min-width: 160rem) {
  header .nav-container li {
    font-size: 3rem;
  }
}

header .nav-container li:nth-child(1)::after, header .nav-container li:nth-child(2)::after, header .nav-container li:nth-child(3)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 3px;
  border-bottom: 2px solid #df7a07;
}

header .nav-container li a {
  color: white;
  border: none;
}

header .nav-container li a:hover {
  color: #df7a07;
}

header .name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92%;
}

header .name-container h1,
header .name-container h2 {
  color: white;
}

header .name-container h1 {
  border-bottom: #df7a07 6px solid;
  margin-bottom: 20px;
}

header .name-container .text-type > .text {
  border-right: 0.1rem solid #e0e0e0;
  -webkit-animation: blinkTextCursor 1100ms steps(40) infinite normal;
          animation: blinkTextCursor 1100ms steps(40) infinite normal;
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: #df7a07;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #df7a07;
  }
  to {
    border-right-color: transparent;
  }
}

header .down-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .down-arrow a {
  font-size: 3rem;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 1.4;
  margin: 0 auto;
  color: white;
  border: none;
}

header .down-arrow a:hover, header .down-arrow a:focus {
  outline: 1px solid #df7a07;
  color: #df7a07;
}

.about {
  padding: 10% 0;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-container .about-image {
  min-width: 300px;
  width: calc(40% - 15px);
  margin-right: 15px;
}

.about-container .about-text {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-container .about-text p {
  padding: 5%;
}

.about-container .about-text p:nth-child(3) {
  padding: 0 5%;
}

.about-container a.button {
  padding: 5px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid #df7a07;
  text-transform: uppercase;
}

.about-container a.button:hover, .about-container a.button:focus {
  background-color: #df7a07;
}

.skills {
  background-color: #e0e0e0;
  padding: 5% 0;
}

.skills-container {
  background-color: #fdfdff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 30px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 30px 0 rgba(0, 0, 0, 0.19);
  padding: 4% 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-container h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 20px;
}

.skills-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skills-icons li {
  text-align: center;
  width: 130px;
  height: 100px;
  margin: 1.5%;
}

.skills-icons li:hover {
  color: #df7a07;
}

.skills-icons li i {
  padding: 3% 0;
}

.skills-icons li i {
  font-size: 5rem;
}

@media screen and (min-width: 30rem) {
  .skills-icons li i {
    font-size: calc(5rem + 1 * ((100vw - 30rem) / 130));
  }
}

@media screen and (min-width: 160rem) {
  .skills-icons li i {
    font-size: 6rem;
  }
}

.skills-icons li .fas {
  font-size: 4.2rem;
}

@media screen and (min-width: 30rem) {
  .skills-icons li .fas {
    font-size: calc(4.2rem + 1 * ((100vw - 30rem) / 130));
  }
}

@media screen and (min-width: 160rem) {
  .skills-icons li .fas {
    font-size: 5.2rem;
  }
}

.skills-icons li p {
  font-weight: 800;
  text-transform: uppercase;
}

.skills-icons li p {
  font-size: 1.4rem;
}

@media screen and (min-width: 30rem) {
  .skills-icons li p {
    font-size: calc(1.4rem + 0.2 * ((100vw - 30rem) / 130));
  }
}

@media screen and (min-width: 160rem) {
  .skills-icons li p {
    font-size: 1.6rem;
  }
}

.skills-icons li:nth-of-type(15) i {
  font-size: 3rem;
}

@media screen and (min-width: 30rem) {
  .skills-icons li:nth-of-type(15) i {
    font-size: calc(3rem + 0.5 * ((100vw - 30rem) / 130));
  }
}

@media screen and (min-width: 160rem) {
  .skills-icons li:nth-of-type(15) i {
    font-size: 3.5rem;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5% 0;
}

.projects h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8% 0;
  border-bottom: 1px solid #e0e0e0;
}

.project-container:last-child {
  border-bottom: none;
}

.project-container .project-image {
  position: relative;
  width: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.project-container .project-text {
  width: 60%;
  padding: 0 2% 0 2%;
}

.project-container h4 {
  margin-bottom: 1.8%;
}

.project-container p {
  margin-bottom: 5%;
}

.project-container p:nth-of-type(1), .project-container p:nth-of-type(3) {
  font-weight: 800;
}

.project-container p.stacks {
  margin-bottom: 0;
}

.project-container p a:hover {
  color: #df7a07;
  border-bottom: 2px solid #e0e0e0;
}

.project-container span {
  color: #df7a07;
  font-weight: 800;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  overflow: hidden;
  padding: 5%;
}

.image-overlay:hover {
  opacity: 1;
}

.image-overlay > * {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.image-overlay:hover > * {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.image-overlay .image-title {
  font-family: "Montserrat", sans-serif;
  color: #df7a07;
  font-size: 2rem;
  text-transform: uppercase;
}

.image-overlay p {
  color: white;
  font-weight: 400;
  text-align: center;
}

.image-overlay i {
  color: #df7a07;
}
